/*
Creator: Jacob Oak
Date created: 1/3/19
Date last modified: 1/6/19
*/

body {
    font-family: 'Oxygen', 'Lato', Arial, Helvetica, sans-serif;
    color: #0d1f2d;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #e4e4e4;
}

header, footer {
    font-family: 'Lato', sans-serif;
    background-color: #5b7d87;
    color: #fef9ff;
    text-align: center;
    padding: 30px 10px 40px 10px;
}

header {
    height: 100px;
    font-size: large;
}

footer {
    height: 110px;
}

nav {
    background-color:#97b591;
}

nav a {
    display: block;
    margin: 10px;
    float: left;
    text-decoration: underline;
}

nav a:hover {
    font-weight: bold;
}

nav a:visited {
    color: #A41717;
}

nav a:active {
    text-decoration: none;
}

.clear-float {
    clear:both;
}

.carousel-inner {
    width:400px;
    height:150px;
    margin: auto;
  }

.carousel-caption {
    top: 0;
}